In [1]:
import data

In [2]:
ds = data.load_data()
print(ds)

Downloading:   0%|          | 0.00/1.71k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.18k [00:00<?, ?B/s]

Reusing dataset esnli (/Users/ludwig/.cache/huggingface/datasets/esnli/plain_text/0.0.2/a160e6a02bbb8d828c738918dafec4e7d298782c334b5109af632fec6d779bbc)

  0%|          | 0/3 [00:00<?, ?it/s]

DatasetDict({
    train: Dataset({
        features: ['premise', 'hypothesis', 'label', 'explanation_1', 'explanation_2', 'explanation_3'],
        num_rows: 549367
    })
    validation: Dataset({
        features: ['premise', 'hypothesis', 'label', 'explanation_1', 'explanation_2', 'explanation_3'],
        num_rows: 9842
    })
    test: Dataset({
        features: ['premise', 'hypothesis', 'label', 'explanation_1', 'explanation_2', 'explanation_3'],
        num_rows: 9824
    })
})

In [3]:
ds["train"]

Dataset({
    features: ['premise', 'hypothesis', 'label', 'explanation_1', 'explanation_2', 'explanation_3'],
    num_rows: 549367
})

In [5]:
df = ds["train"].to_pandas()

In [6]:
df.head()

,premise,hypothesis,label,explanation_1,explanation_2,explanation_3
0,A person on a horse jumps over a broken down a...,A person is training his horse for a competition.,1,the person is not necessarily training his horse,,
1,A person on a horse jumps over a broken down a...,"A person is at a diner, ordering an omelette.",2,One cannot be on a jumping horse cannot be a d...,,
2,A person on a horse jumps over a broken down a...,"A person is outdoors, on a horse.",0,a broken down airplane is outdoors,,
3,Children smiling and waving at camera,They are smiling at their parents,1,Just because they are smiling and waving at a ...,,
4,Children smiling and waving at camera,There are children present,0,The children must be present to see them smili...,,

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549367 entries, 0 to 549366
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   premise        549367 non-null  object
 1   hypothesis     549367 non-null  object
 2   label          549367 non-null  int64
 3   explanation_1  549367 non-null  object
 4   explanation_2  549367 non-null  object
 5   explanation_3  549367 non-null  object
dtypes: int64(1), object(5)
memory usage: 25.1+ MB

In [10]:
df["label"].value_counts()

0    183416
2    183187
1    182764
Name: label, dtype: int64

In [41]:
df.loc[df["premise"].astype("string").str.contains("\*", case=False)]

Empty DataFrame
Columns: [premise, hypothesis, label, explanation_1, explanation_2, explanation_3]
Index: []

In [42]:
df["premise"] = df["premise"].astype("string")
df["hypothesis"] = df["hypothesis"].astype("string")
df["explanation_1"] = df["explanation_1"].astype("string")
df.drop(columns=["explanation_2","explanation_3"], inplace=True)